server {
    listen ${SERVER_PORT};
    listen [::]:${SERVER_PORT};
    server_name ${SERVER_NAME};
    
    location / {
        add_header Content-Type text/plain;
        return 200 'DATA FROM NGINX SERVER';
    }
}